TheKDSProject.sln
CMakeFiles/
Project1/
Project1.vcxproj
Project1.vcxproj.filters
Project1.vcxproj.user
.vs/
cmake_install.cmake
s.kds
CMakeCache.txt
out.asm
alltests/
Makefile
x64/*
x86/*
x64/
x86/
out*
*.ll
*.asm
*.exe
out.*
push.ps1